<span class="label label-info">Info</span>
  <h3>LogWatcher概要っ！</h3>
<dl>
  <dd>各種エラーログを垂れ流すだけのWebアプリです</dd>
  <dd>見たいログをView Logsタブから選んでくださいな</dd>
  <dd>PHP Warning系は黄色で囲まれます</dd>
  <dd>PHP ParseErrorやFatal ErrorやSegFaultは赤色で囲まれます</dd>
  <dd>今の所admin.aiship.jpだけのログしか見れません</dd>
</dl>
